*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: palevioletred;
}

.container{
    width: 700px;
    height: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
/*    background-color:aliceblue;*/
}
.fingers{
    width: 500px;
    height: 500px;
    margin: 200px;
}
.finger1, .finger2, .finger3, .finger4{
    width: 60px;
    height: 150px;
    background-color: bisque;
    border-radius: 10px 10px 20px 20px;
    display: inline-block;
    z-index: 1;
}
.finger1, .finger2, .finger3, .finger4, .finger5{
    animation: tap 1.5s ease-out infinite;
}
.lines{
    width: 35px;
    height: 5px;
    background-color: chocolate;
    opacity: 0.5;
    border-radius: 3px;
    margin-top: 7px;
    margin-left: 13px;
}
.nails1, .nails2, .nails3, .nails4{
    width: 40px;
    height: 30px;
    background-color: white;
    border-radius: 0 0 15px 15px;
    z-index: 99999;
    position: relative;
    top: 55%;
    left: 8px;
    transform: rotate(180deg);
}

.nails1{
    top: 49%;
}

.nails3{
    top: 60%;
}

.finger1{
    height: 130px;
}
.finger2{
    animation-delay: 0.1s;
}
.finger3{
    animation-delay: 0.2s;
    height: 170px;
}
.finger4{
    animation-delay: 0.3s;
}
.finger5{
    width: 100px;
    height: 50px;
    transform: rotate(-90deg);
    position: absolute;
    top: 50%;
    left: 65%;
    animation-delay: 0.4s;
    border-radius: 0 10px 50px 0;
    display: inline-block;
    z-index: 1;
    background-color: bisque;
}
@keyframes tap{
    0%{
        transform: scaleY(1) translateY(0px);
    }
    20%{
        transform: scaleY(0.8) translateY(-30px);
    }
    30%{
        transform: scaleY(0.8) translateY(-30px);
    }
    40%{
        transform: scaleY(1) translateY(0px);
    }
    100%{
        transform: scaleY(1) translateY(0px);
    }
}