*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color:greenyellow;
}

.spinner::before{
    content: "";
    display: inline-block;
    position: absolute;
    width: 150px;
    height: 150px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
}

.ball1, .ball2, .ball3, .ball4, .ball5, .ball6, .ball7{
    background-color: white;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    position: absolute;
    animation: spin 1s infinite;
    transform-origin: 40px 40px;
}
.ball1{
    top: 47%;
    left: 44%;
    animation-delay: 0.1s;
}
.ball2{
    top: 38%;
    left: 46.5%;
    animation-delay: 0.2s;
}
.ball3{
    top: 38%;
    left: 51%;
    animation-delay: 0.3s;
}
.ball4{
    top: 44%;
    left: 54%;
    animation-delay: 0.4s;
}
.ball5{
    top: 53%;
    left: 54%;
    animation-delay: 0.5s;
}
.ball6{
    top: 59%;
    left: 51%;
    animation-delay: 0.6s;
}
.ball7{
    top: 57%;
    left: 46%;
    animation-delay: 0.7s;
}



@keyframes spin{
    0%{
        opacity: 0;
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}
