*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #ffd31d;
}
.container{
    width: 200px;
    height: 600px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
/*    background-color: aliceblue;*/
    display: flex;
}
.head{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: white;
    position: absolute;
    top: 12%;
    left: 100px;
    animation: headBob 2s linear infinite;
}
.body{
    width: 80px;
    height: 200px;
    background-color: white;
    position: absolute;
    top: 30%;
    left: 45px;
    border-radius: 70px 5px 0 0;
    animation: bodyBob 2s linear infinite;
}
.leg1, .leg2{
    animation: walking 2s linear infinite;
    bottom: 10%;
}
.leg1{
    width: 65px;
    height: 20px;
    background-color: white;
    border-radius: 0 10px 10px 0;
    position: absolute;
    left: 50px;
    z-index: 1;
/*    animation: walking 2s linear infinite;*/
}
.leg2{
    width: 65px;
    height: 20px;
    background-color: white;
    border-radius: 0 10px 10px 0;
    position: absolute;
    bottom: 10%;
    right: 35px;
    z-index: 1;
    animation-delay: 1s;
}
.shadow{
    width: 190px;
    height: 25px;
    border-radius: 50%;
    background-color: rgba(197, 82, 82, 0.2);
    position: absolute;
    bottom: 9%;
}

@keyframes headBob{
    0%{
        opacity: 1;
    }
    50%{
        top: 15%;
    }
    100%{
        top: 12%;
    }
}

@keyframes bodyBob{
    0%{
        opacity: 1;
    }
    50%{
        top: 31%;
    }
    100%{
        top: 30%;
    }
}
@keyframes walking{
    0%{
        transform: translateX(0px) rotate(0deg);
    }
    20%{
        transform: translateX(-20px) rotate(0deg);
    }
    40%{
        transform: translate(-40px, 0) rotate(0deg);
    }
    60%{
        transform: translate(-30px, -20px) rotate(35deg);
    }
    90%{
        transform: translate(10px, -7px) rotate(-35deg);
    }
    100%{
        transform: translateX(0px);
    }
}