*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: crimson;
}
.container{
/*    width: 700px;*/
/*    height: 500px;*/
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
/*    background-color:aliceblue;*/
}
.bars1, .bars2, .bars3, .bars4, .bars5, .bars6, .bars7, .bars8{
    width: 10px;
    height: 200px;
    display: inline-block;
    background-color: white;
    border-radius: 25px;
    margin-right: 10px;
    align-items: center;
    animation: wave 1.5s linear infinite;
}
.bars2{
    animation-delay: 0.2s;
}
.bars3{
    animation-delay: 0.3s;
}
.bars4{
    animation-delay: 0.4s;
}
.bars5{
    animation-delay: 0.5s;
}
.bars6{
    animation-delay: 0.6s;
}
.bars7{
    animation-delay: 0.7s;
}
.bars8{
    animation-delay: 0.8s;
}
@keyframes wave{
    0%{
        transform: scaleY(0);
    }
    16%{
        transform: scaleY(0.4);
    }
    32%{
        transform: scaleY(0.8)
    }
    48%{
        transform: scaleY(0);
    }
    64%{
        transform: scaleY(0.4);
    }
    80%{
        transform: scaleY(0.8);
    }
    100%{
        transform: scaleY(0);
    }
}